MVCTestApp/Service References/SecurityService/Security.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFTestContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFTestContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LoginResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="LoginSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="SecurityToken" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginResult" nillable="true" type="tns:LoginResult" />
</xs:schema>