MVCTestApp/Service References/AccountService/Account.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52370/Account.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFTestContract" />
  <xs:element name="GetAccountBalance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFTestContract" minOccurs="0" name="userContextInfo" nillable="true" type="q1:UserContextInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountBalanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFTestContract" minOccurs="0" name="GetAccountBalanceResult" nillable="true" type="q2:Money" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecentTransactions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFTestContract" minOccurs="0" name="userContextInfo" nillable="true" type="q3:UserContextInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecentTransactionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFTestContract" minOccurs="0" name="GetRecentTransactionsResult" nillable="true" type="q4:ArrayOfTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>